footer{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
    .desarrollo{
        color: gray;
        .iconos-desarrollo{
            display: flex;
            justify-content: center;
            img{
                margin-right: 4px;
                margin-left: 4px;
                
            }
        }
    }
    @media screen and (max-width:425px) {
        font-size: smaller;
        
    }
}
